/* -------------------------------------------------------
-                    SECTION A MAIN                      -
---------------------------------------------------------- */
.section-a {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('/images/bg.jpg') center center no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.text {
  position: absolute;
  text-align: center;
  top: 20%;
  width: 100%;
}
.text > .sub-heading {
  font-size: 29px;
  text-transform: uppercase;
  color: white;
}
.text > .heading {
  font-size: 68px;
  line-height: 70px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  margin-top: 30px;
}
.cars {
  position: absolute;
  top: 43%;
  width: 100%;
}

.car-a {
  margin-right: -8rem;
  z-index: 1;
}

.btn-wrapper {
  position: absolute;
  bottom: 12%;
  width: 100%;
  text-align: center;
}

.section-a .custom-btn {
  background-color: red;
  color: white;
  line-height: 17px;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 14px;
  padding: 12px 19px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 768px) {
  .section-a {
    min-height: 660px;
  }
}

@media (min-width: 1024px) {
  .section-a {
    min-height: 860px;
  }
}

@media (max-width: 1024px) {
  .car-a {
    margin-right: -4rem;
  }
  .text > .sub-heading {
    font-size: 16px;
  }
  .text > .heading {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .car-a {
    margin-right: -2rem;
  }
  .text > .sub-heading {
    font-size: 11px;
  }
  .text > .heading {
    font-size: 16px;
  }
}

/* -------------------------------------------------------
-                    SECTION B FORM                      -
---------------------------------------------------------- */
.form {
  max-width: 1140px;
  margin: auto;
  margin-top: 40px;
  padding: 30px 8px;
}

.label {
  margin-bottom: 10px;
  display: block;
  font-size: 13px;
  color: #999999;
}

select {
  line-height: 14px;
  max-width: 100%;
  min-width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 0;
  border-color: #e3e3e3;
  display: inline-block;
  width: 100%;
  color: #323232;
}

select:focus {
  line-height: 14px;
  max-width: 100%;
  min-width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 0;
  border-color: #e3e3e3 !important;
  display: inline-block;
  width: 100%;
  color: #323232;
  outline: none !important;
}

select:focus-visible {
  line-height: 14px;
  max-width: 100%;
  min-width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 0;
  border-color: #e3e3e3 !important;
  display: inline-block;
  width: 100%;
  color: #323232;
  outline: none !important;
}

.cfb-submit-btn {
  font-family: 'Open Sans', sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  border: 0 solid transparent;
  background: #db2d2e;
  color: #fff;
  text-transform: capitalize;
  vertical-align: middle;
  padding: 10px 20px;
  overflow: hidden;
  text-decoration: none !important;
  -ms-transform: perspective(1px) translateZ(0);
  -o-transform: perspective(1px) translateZ(0);
  -moz-transform: perspective(1px) translateZ(0);
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.5s;
  margin-top: 20px;
}

.cfb-submit-btn:hover {
  background-color: #323232;
  text-decoration: none !important;
}

.cfb-submit-btn:active:before,
.cfb-submit-btn:focus:before,
.cfb-submit-btn:hover:before {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.5);
  -moz-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.5);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.5);
}

@media (min-width: 768px) {
  .form {
    margin-top: -80px;
  }
}

/* -------------------------------------------------------
-                       SECTION C                        -
---------------------------------------------------------- */
.section-c .wrap {
  max-width: 1140px;
  margin: auto;
  margin-top: 80px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.section-c .heading {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  color: #363636;
}

.separator {
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline-block;
}

.separator::before,
.separator::after {
  content: '';
  display: block;
  margin: auto;
  left: 50%;
  height: 1px;
  width: 50px;
  bottom: -15px;
  background: #db2d2e;
  transition: width 0.8s ease, background-color 0.8s ease;
  -webkit-transition: width 0.8s ease, background-color 0.8s ease;
  -o-transition: width 0.8s ease, background-color 0.8s ease;
  -ms-transition: width 0.8s ease, background-color 0.8s ease;
  -moz-transition: width 0.8s ease, background-color 0.8s ease;
  margin-bottom: 7px;
}
.separator:after {
  width: 100px;
  background: #db2d2e;
  bottom: 0;
}

.wrap p {
  line-height: 24px;
}

@media (min-width: 1024px) {
  .section-c .wrap p {
    padding: 0 106px;
  }
}

/* -------------------------------------------------------
-                       SECTION D                        -
---------------------------------------------------------- */
.section-d {
  margin-top: 54px;
}
.section-d .icon-round {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.section-d .heading {
  margin-top: 20px;
  font-weight: 600;
  line-height: 24px;
  font-size: 16px;
  color: #363636;
  text-transform: uppercase;
}

.section-d .heading::after {
  display: block;
  content: '';
  margin: 10px auto;
  width: 20px;
  height: 2px;
  background-color: #db2d2e;
}

.section-d p {
  line-height: 22px;
}

/* -------------------------------------------------------
-                       SECTION E                        -
---------------------------------------------------------- */
.section-e {
  margin-top: 54px;
}

.section-e .car-flip {
  transform: scaleX(-1);
}

.section-e .avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: url('/images/avatar.png') center center no-repeat;
  background-size: cover;
  margin: auto;
  margin-bottom: 12px;
}

.section-e .phone {
  font-size: 36px;
  color: #db2e2d;
  font-weight: 500;
  line-height: 46px;
  margin-top: 10px;
}

/* -------------------------------------------------------
-                       SECTION F                        -
---------------------------------------------------------- */
.section-f {
  background: url('/images/bg-car.png') center center no-repeat;
  background-size: cover;
  padding: 80px 0;
  position: relative;
}
.section-f .overlay {
  background-color: black;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.section-f .main-title {
  font-size: 40px;
  line-height: 50px;
  color: white;
  font-weight: 500;
}
.section-f .container {
  position: relative;
}

.section-f .car-item {
  background-color: white;
  width: 270px;
  height: 472px;
}

.section-f .car-image-wrap {
  position: relative;
}

.section-f .car-image {
  width: 270px;
  max-height: 202px;
}

.used-tag {
  background-color: #ef1313;
  font-weight: 600;
  padding: 8px 10px;
  text-transform: uppercase;
  border-radius: 0.25rem;
  color: white;
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 8px;
  left: 8px;
}
.sold-tag {
  background: url('/images/sold-img.png') center center no-repeat;
  background-size: contain;
  width: 88px;
  height: 58px;
  position: absolute;
  bottom: 12px;
  right: 12px;
}

.section-f .title {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #db2e2d;
  font-family: 'Open Sans', sans-serif;
}
.section-f .title:hover {
  color: #363636;
}
.section-f .content-wrap {
  padding: 20px;
}

.section-f .actual-amount {
  font-size: 13px;
  text-decoration: line-through;
}
.section-f .after-discount {
  font-size: 16px;
  color: #363636;
  font-weight: 700;
  margin-left: 6px;
}

.section-f .swiper {
  width: 100%;
  height: 520px;
}
.section-f .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------------------------------------------
-                       SECTION G                        -
---------------------------------------------------------- */
.section-g {
  background-color: #f6f6f6;
}
.section-g .bg-car {
  background: url('/images/car7.jpeg') center center no-repeat;
  background-size: cover;
  height: 480px;
}
.section-g .title {
  font-size: 90px;
  font-weight: 700;
  line-height: 90px;
  color: #363636;
}
.section-g .cta {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
  font-style: italic;
}

.section-g .price {
  font-size: 40px;
  line-height: 22px;
  font-weight: 700;
  color: #db2e2d;
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
}

.section-g .link-btn {
  font-size: 15px;
  line-height: 22px;
  color: #db2e2d;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}
.section-g .link-btn:hover {
  color: #323232;
}

@media (max-width: 1024px) {
  .section-g .title {
    font-size: 68px;
    line-height: 68px;
  }
}

@media (max-width: 768px) {
  .section-g .title {
    font-size: 56px;
    line-height: 60px;
  }
}

@media (max-width: 480px) {
  .section-g .title {
    font-size: 40px;
    line-height: 40px;
  }
}

/* -------------------------------------------------------
-                       SECTION H                        -
---------------------------------------------------------- */
.section-h {
  margin-top: 84px;
}
.section-h .title {
  font-size: 40px;
  line-height: 50px;
  color: #363636;
  font-weight: 500;
}
.section-h .heading {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #363636;
  text-transform: uppercase;
}

.section-h .heading:hover {
  color: #db2e2d;
}

.section-h .heading::after {
  display: block;
  content: '';
  margin: 10px 0;
  width: 20px;
  height: 2px;
  background-color: #db2d2e;
}

.section-h .author {
  line-height: 22px;
  font-family: 'Open Sans', sans-serif;
}

.section-h p {
  margin-top: 22px;
  font-family: 'Open Sans', sans-serif;
}

.section-h .button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  background: transparent;
  text-transform: capitalize;
  vertical-align: middle;
  padding: 10px 20px;
  overflow: hidden;
  -ms-transform: perspective(1px) translateZ(0);
  -o-transform: perspective(1px) translateZ(0);
  -moz-transform: perspective(1px) translateZ(0);
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  background: 0 0;
  border: 1px solid #e3e3e3;
  color: #323232;
}

.section-h .button:hover {
  background-color: #db2e2d;
  border-color: #db2e2d;
  color: #fff;
}

/* -------------------------------------------------------
-                       SECTION I                        -
---------------------------------------------------------- */
.section-i {
  margin-top: 84px;
  width: 100%;
  height: 540px;
  background-color: #000000;
  opacity: 0.7;
  text-align: center;
  padding-top: 140px;
}

.section-i .title {
  font-size: 28px;
  line-height: 42px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  max-width: 750px;
  text-align: center;
  margin: auto;
}

/* -------------------------------------------------------
-                       SECTION J                        -
---------------------------------------------------------- */
.section-j {
  margin-top: -220px;
}

.section-j .video-wrap {
  max-width: 970px;
  padding: 0 15px;
  margin: auto;
}
.image-cover-wrap {
  width: 100%;
  position: relative;
}

.section-j .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(219, 46, 45, 0.8);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-j .fa-circle-play {
  font-size: 74px;
  color: white;
  cursor: pointer;
  border: 0.5px solid white;
  padding: 10px;
  border-radius: 50%;
  transition: all ease 0.3s;
}

.section-j .fa-circle-play:hover {
  color: #363636;
}

.section-j .heading {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #363636;
  text-transform: uppercase;
  font-family: 'Roboto' sans-serif;
  margin-top: 10px;
}

.section-j .heading::after {
  display: block;
  content: '';
  margin: 10px auto;
  width: 20px;
  height: 2px;
  background-color: #db2d2e;
}

.section-j .row-content {
  color: #363636;
}

@media (max-width: 426px) {
  .section-j {
    margin: 0;
    margin-top: 40px;
  }
}

/* -------------------------------------------------------
-                       SECTION K                        -
---------------------------------------------------------- */
.section-k {
  margin-top: 54px;
}

.section-k .title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 500;
  font-family: 'Roboto' sans-serif;
  color: #363636;
}

.section-k .client-review-wrap {
  width: 368px;
  height: 418px;
  position: relative;
}

.section-k .client-car-wrap {
  overflow: hidden;
  width: 100%;
}

.section-k .client-car {
  width: 100%;
  transition: all ease 0.5s;
}

.section-k .client-review-wrap:hover .client-car {
  transform: scale(1.1);
}

.section-k .client-review-wrap:hover .fa-quote-right {
  color: #db2e2d;
}

.section-k .client-avatar {
  width: 80px;
  height: 80px;
  border: 5px solid white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 8%;
  transform: translateX(-50%);
}

.section-k .card-details {
  background: #f6f6f6;
  padding: 20px;
}

.section-k .client-name {
  font-size: 16px;
  line-height: 24px;
  color: #db2e2d;
  font-weight: 400;
  font-family: 'Roboto' sans-serif;
  margin-top: 20px;
}

.section-k p {
  margin-top: 15px;
}

.section-k .fa-quote-right {
  font-size: 28px;
  line-height: 28px;
}

.section-k .swiper-review {
  width: 100%;
  height: 520px;
}
.section-k .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-k .swiper-pagination {
  bottom: 0;
}

.section-k .swiper-pagination-bullet-active {
  background-color: #db2e2d;
}

/* -------------------------------------------------------
-                       SECTION L                        -
---------------------------------------------------------- */
.section-l {
  margin-top: 124px;
}

.section-l .title {
  font-size: 36px;
  line-height: 46px;
  font-weight: 500;
  color: #363636;
  font-family: 'Roboto' sans-serif;
}

/* -------------------------------------------------------
-                       ANIMATION - TEXT                 -
---------------------------------------------------------- */
.cars-five-head,
.cars-five-sub-head,
.cars-two-sub-head,
.cars-two-head {
  overflow: hidden;
}

.cars-five-head .letter,
.cars-five-sub-head .letter,
.cars-two-sub-head .letter,
.cars-two-head .letter {
  display: inline-block;
  line-height: 1em;
}

.ml16 {
  overflow: hidden;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml17 {
  overflow: hidden;
}

.ml17 .letter {
  display: inline-block;
  line-height: 1em;
}

/* -------------------------------------------------------
-                       ANIMATION - 2 CARS IMAGE         -
---------------------------------------------------------- */
.car-left {
  animation: carLeft 1.2s ease forwards;
  animation-delay: 0.1s;
  opacity: 0;
}

.car-right {
  animation: carRight 1.2s ease forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

@keyframes carLeft {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes carRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* -------------------------------------------------------
-                       ANIMATION - 5 CARS IMAGE         -
---------------------------------------------------------- */

.white-car-left {
  max-width: 30%;
  margin-right: -13%;
  animation: whiteCarLeft 1s ease forwards;
  animation-delay: 1.4s;
  opacity: 0;
}

.black-car {
  max-width: 26%;
  margin-right: -6%;
  animation: blackCar 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;
}
.center-car {
  max-width: 25%;
  z-index: 2;
  animation: centerCar 1.5s ease forwards;
  opacity: 0;
}
.orange-car {
  max-width: 34%;
  margin-left: -10%;
  z-index: 1;
  animation: orangeCar 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;
}
.white-car-right {
  max-width: 30%;
  margin-left: -17%;
  animation: whiteCarRight 1s ease forwards;
  animation-delay: 1.4s;
  opacity: 0;
}

@keyframes whiteCarLeft {
  0% {
    opacity: 0;
    margin-right: -15%;
  }

  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    margin-right: -13%;
  }
}

@keyframes blackCar {
  0% {
    opacity: 0;
    margin-right: -9%;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    margin-right: -6%;
  }
}

@keyframes centerCar {
  0% {
    max-width: 15%;
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    max-width: 25%;
    opacity: 1;
  }
}
@keyframes orangeCar {
  0% {
    opacity: 0;
    margin-left: -13%;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    margin-left: -10%;
  }
}

@keyframes whiteCarRight {
  0% {
    opacity: 0;
    margin-left: -19%;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    margin-left: -17%;
  }
}

/* -------------------------------------------------------
-                       ANIMATION - BUTTON               -
---------------------------------------------------------- */
.slide-up {
  animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
  animation-delay: 1.7s;
}
@keyframes slide-up {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
