body {
  font-size: 14px;
  overflow-x: hidden;
  color: #999999 !important;
  letter-spacing: 0px;
  font-family: 'Open Sans', sans-serif;
  line-height: 22px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* -------------------------------------------------------
-                     LOADER                             -
---------------------------------------------------------- */
#page-loader {
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 0;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden !important;
  right: 0;
  z-index: 999999;
}
#page-loader > div {
  width: 100%;
  height: 100%;
  position: relative;
}

#page-loader > div > img {
  text-align: center;
  max-width: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  z-index: 99;
  margin: 0 auto;
}

/* -------------------------------------------------------
-                     TOPBAR                             -
---------------------------------------------------------- */

.top-bar {
  background-color: black;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 0;
  font-family: 'Roboto', sans-serif;
}

.top-bar a {
  transition: all 0.5s ease;
}

.top-bar a:hover {
  color: #db2e2d;
}

/* -------------------------------------------------------
-                    NAVBAR                              -
---------------------------------------------------------- */

.nav-bar {
  background-color: black;
  color: white;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}

.navbar-toggler-icon {
  color: white;
}

.nav-link {
  color: inherit !important;
  text-transform: uppercase;
  font-size: inherit !important;
}

.nav-link.active {
  color: red !important;
}

.nav-item:hover {
  color: red;
}

/* -------------------------------------------------------
-                       SECTION M (FOOTER)               -
---------------------------------------------------------- */
.section-m.footer {
  background: url('/footer_car.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
}
.section-m.footer::before {
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
}
.section-m .container {
  position: relative;
}
.section-m .social-app {
  font-size: 12px;
  line-height: 60px;
  font-weight: 600;
  text-transform: uppercase;
}

.section-m .social-app-icon {
  font-size: 30px;
}

.section-m .social-link-wrap {
  transition: all ease 0.5s;
  padding: 0 12px;
}

.section-m .social-link:hover .social-link-wrap.fb {
  background-color: #3b5998;
}

.section-m .social-link:hover .social-link-wrap.insta {
  background-color: #405de6;
}

.section-m .social-link:hover .social-link-wrap.youtube {
  background-color: #ff0000;
}

.section-m .social-link:hover .social-link-wrap.twitter {
  background-color: #1d9bf0;
}

.section-m .social-link:hover .social-app,
.section-m .social-link:hover .social-app-icon {
  color: white;
}

.section-m .contact-icon {
  color: red;
}

.section-m .heading {
  font-size: 16px;
  line-height: 24px;
  color: white;
  font-family: 'Roboto' sans-serif;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.section-m .heading::after {
  display: block;
  content: '';
  margin: 6px 0;
  width: 20px;
  height: 2px;
  background-color: #db2d2e;
}

.section-m .usefull-link:hover p {
  color: red;
}

.section-m input {
  background: rgba(102, 102, 102, 0.1);
  border-radius: 0;
  border: 0.5px solid rgba(255, 255, 255, 0.11);
  color: white;
  padding: 12px;
  transition: all ease-in-out 0.5s;
}

.section-m input::placeholder {
  color: #909090;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
}

.section-m input:focus {
  background: rgba(102, 102, 102, 0.1);
  border: 0.5px solid #db2e2d;
  outline: none;
  box-shadow: none;
  color: white;
}

.section-m .question-row {
  margin-top: 40px;
}

.section-m .question {
  background: rgba(255, 255, 255, 0.08);
  padding: 30px;
}

@media (max-width: 426px) {
  .section-m .social-app-icon {
    font-size: 22px;
  }
  .section-m .social-link-wrap {
    padding: 12px 0;
  }
}

/* -------------------------------------------------------
-                     RANGE SLIDER                       -
---------------------------------------------------------- */
.price-label {
  color: #999999;
}

.dealer-slider-amount {
  color: #999999;
  border: none;
  background: 0 0;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.range-slider {
  position: relative;
  width: 100%;
  height: 4px;
  border-radius: 3px;
  background: #eee no-repeat padding-box;
  margin-top: -28px;
}
.range-slider .progress {
  position: absolute;
  left: 15%;
  right: 19%;
  height: 100%;
  border-radius: 15px;
  background: #db2e2d no-repeat padding-box;
}
.range-slider input[type='range'] {
  position: absolute;
  width: 100%;
  height: 4px;
  -webkit-appearance: none;
  pointer-events: none;
  background: none;
  outline: none;
}
.range-slider .range-min::-webkit-slider-thumb {
  pointer-events: auto;
  -webkit-appearance: none;
  width: 7px;
  height: 16px;
  background: #db2d2e;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.range-slider .range-max::-webkit-slider-thumb {
  pointer-events: auto;
  -webkit-appearance: none;
  width: 7px;
  height: 16px;
  background: #db2d2e;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* -------------------------------------------------------
-                     Custom Button                       -
---------------------------------------------------------- */

.custom-btn-secondary {
  background: none;
  color: rgb(150, 140, 140);
  border: 0.6px solid #e3e3e3;
  padding: 12px 20px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
}
.custom-btn-secondary:hover {
  color: white;
}
.custom-btn-secondary::before {
  content: '';
  position: absolute;
  left: 0;
  /* top: 0; */
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgb(219, 46, 45);
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 100% 100%;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.custom-btn-secondary-1::before {
  transform: scaley(0);
}
.custom-btn-secondary-1:hover::before {
  transform: scaley(1);
}

.custom-btn-primary {
  background: rgb(219, 46, 45);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  transform: perspective(1px) translateZ(0);
}
.custom-btn-primary:hover {
  color: white;
}

.custom-btn-primary::before {
  content: '';
  position: absolute;
  left: 0;
  /* top: 0; */
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #323232;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 100% 100%;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.custom-btn-primary-2::before {
  transform: scaley(0);
}
.custom-btn-primary-2:hover::before {
  transform: scaley(1);
}

.custom-btn-light {
  background: none;
  color: rgb(0, 0, 0);
  /* border: 0.6px solid #e3e3e3; */
  background: #f5f5f5;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  box-sizing: border-box;
  transition: all 0.6s ease-in-out;
}
.custom-btn-light:hover {
  background-color: rgb(219, 46, 45);
  color: white;
}

/* -------------------------------------------------------
-                     Custom Input                       -
---------------------------------------------------------- */
.custom-input {
  width: 100px;
  padding: 12px 20px;
  border: 0.5px solid transparent;
  background: rgb(246, 246, 246);
  transition: 0.5s ease-in-out;
  display: block;
  width: 100%;
}
.custom-input:focus {
  border-color: rgb(150, 140, 140);
  background: white;
}

.custom-input:hover {
  border-color: #999;
}

.custom-input:focus-visible {
  outline: none;
}

/* -------------------------------------------------------
-                     Custom Select                      -
---------------------------------------------------------- */

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: rgb(255, 255, 255);
  position: relative;
  padding-right: 30px !important;
}

.select-selected::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
  background: #fff;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  content: '';
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 5px;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  transform: rotate(-135deg);
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: rgb(182, 182, 182);
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
  border: 1px solid #e8e8e8;
  cursor: pointer;
  user-select: none;
  transition: all 0.5s ease;
}
.select-items div {
  border: none;
}
.select-items {
  border: 1px solid #e8e8e8;
  border-top: none;
  max-height: 200px;
  overflow: auto;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.034);
  transition: all 0.5s ease;
}

.select-selected:hover {
  border-color: #dbdbdb;
}
.select-selected.select-arrow-active {
  border-color: #999;
}

/* -------------------------------------------------------
-                     TO TOP CAR                         -
---------------------------------------------------------- */
.maincardiv {
  position: fixed;
  bottom: 0;
  right: 30px;
}
.imgcarlight {
  position: absolute;
  top: 3px;
  right: 0px;
  opacity: 0;
}
.maincardiv .imgcarlight:hover {
  opacity: 1;
}

.reveal {
  transform: translateY(150px);
  transition: all 0.5s ease;
  z-index: 100;
}

.reveal.active {
  transform: translateY(-40px);
}

/* -------------------------------------------------------
-                    CAR STATUS TAG                      -
---------------------------------------------------------- */

.used-tag {
  position: absolute;
  top: 0;
  left: 8px;
  top: 8px;
  background: #ef1313;
  font-size: 11px !important;
  color: #fff;
  font-weight: 600;
  padding: 8px 10px;
  z-index: 5;
  text-transform: uppercase;
  display: inline;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}
.sold-tag {
  background: url('/sold-img.png') center center no-repeat;
  background-size: contain;
  width: 88px;
  height: 58px;
  position: absolute;
  bottom: 12px;
  right: 12px;
}
