/* -------------------------------------------------------
-                       SECTION A                        -
---------------------------------------------------------- */
.section-a {
  background: url('/footer_car.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
  height: 100px;
}

.section-a::before {
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.section-a .wrap {
  position: absolute;
  bottom: 10%;
}

.section-a .main-heading {
  font-size: 37.9px;
  line-height: 50px;
  color: white;
  font-weight: 500;
  font-family: neue-haas-grotesk-display,sans-serif;
  text-transform: uppercase;
}

/* -------------------------------------------------------
-                       SECTION B                        -
---------------------------------------------------------- */
.section-b {
  margin-top: 54px;
  margin-bottom: 54px;
}

.section-b .heading {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: neue-haas-grotesk-display,sans-serif;
  color: #363636;
  text-transform: uppercase;
}

.section-b .heading::after {
  display: block;
  content: '';
  width: 20px;
  height: 2px;
  background-color: #db2d2e;
}

.section-b .filters-wrap {
  background: #f5f5f5;
  padding: 15px;
  margin-top: 40px;
  position: relative;
}

.section-b .filter-loader {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #fcfafc;
  margin-top: -15px;
  margin-left: -15px;
  z-index: 2;
  opacity: 0.6;
}

.section-b .filters-wrap .matched {
  font-weight: 700;
  color: #db2d2e;
  margin-top: 20px;
  margin-bottom: 10px;
}

.section-b .filter-btn {
  padding: 3px 15px;
  margin-top: 10px;
}

.section-b .selected-filter-item {
  cursor: pointer;
  font-size: 14px;
  color: #999999;
  width: fit-content;
  transition: all ease 0.3s;
}

.section-b .selected-filter-item:hover {
  color: #db2d2e;
}

.section-b .btn-reset {
  padding: 7px 25px;
}

.section-b .form-label {
  font-size: 13px;
}

.section-b .path-active {
  color: #323232;
  font-weight: 600;
}

.section-b .sort-icon {
  transition: all ease 0.3s;
}

.section-b .sort-icon.desc {
  transform: rotate(180deg);
}

.section-b .sort-icon.asc {
  transform: rotate(0deg);
}

.section-b .view-icon {
  font-size: 24px;
  margin: 4px 10px;
}

.section-b .view-icon.active {
  color: #db2d2e;
}

.section-b .invetory-search-container {
  position: relative;
  border: 1px solid #d8d8d8;
  background-color: rgb(244, 248, 250);
  padding: 12px;
  width: 100%;
}

.section-b .invetory-search-container .invetory-search-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 16px;
  aspect-ratio: 1;
  fill: #878484;
}

.section-b .invetory-search-container .invetory-search-input {
  margin-left: 24px;
  border: none;
  background-color: transparent;
  width: calc(100% - 24px - 24px);
}
.section-b .invetory-search-container .invetory-search-input:focus {
  outline: none;
}

.section-b .invetory-search-container .invetory-clear-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 18px;
  aspect-ratio: 1;
  fill: #878484;
}

.section-b .car-item {
  /* max-width: 264px; */
  width: 100%;
  height: 410px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #e3e3e3;
  position: relative;


}

.car-item:hover {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.section-b .car-item-content {
  padding: 20px;
}

.section-b .car-item-content .car-name {
  color: #db2d2e;
  font-size: 16px;
  font-weight: 600;
  transition: all ease 0.5s;

}

.section-b .car-item-content:hover .car-name {
  color: #3b3636;
}

.section-b .car-item-content .car-price {
  margin-top: 15px;
}

.section-b .car-item-content .old-price {
  font-size: 13px;
  color: #999999;
  text-decoration: line-through;
  margin-right: 5px;
}

.section-b .car-item-content .new-price {
  font-size: 16px;
  font-weight: 700;
  color: #363636;
}

.section-b .car-props {
  font-size: 12px;
  line-height: 16px;
  color: #999999;
  margin-top: 5px;
}

.section-b .car-prop-value {
  color: #363636;
  font-weight: 700;
}

.section-b .custom-btn-detail {
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 600;
}

.paginaton-container {
  text-align: center;
}

.pagination-nav {
  display: flex;
  justify-self: center;
  padding-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-gap: 7px;
  margin: 0;
  list-style-type: none;
}

.pagination-nav li {
  font-size: 15px;
  border: 1px solid #e3e3e3;
  border-radius: 0;
  padding: 10px 16px;
  cursor: pointer;
}

.pagination-nav li:hover {
  background-color: #db2e2d;
  color: #fff;
  transition: 0.5s ease-in-out;
}

.pagination-nav li.active {
  background-color: #db2e2d;
  color: #fff;
}

@media (max-width: 1024px) {
  .section-b {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.phone-link {
  color: #767171;
  text-decoration: underline;
  margin-top: 10px;
}

.request-info-btn {
  color: #767171;
  border: 1px solid #767171;
  background-color: transparent;
  margin-top: 10px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.flex-item {
  flex: 1;
}
