/* -------------------------------------------------------
-                  TOP STICKY HEADER                     -
---------------------------------------------------------- */

.stcky-fixed {
  top: 150px;
  /* top: -30px; */
}
.car-fixed-header {
  height: 75px;
  transition: top 0.3s ease-in-out 0s;
  width: 100%;
  z-index: 200;
  top: 0;
  /* top: 150px; */
  position: fixed;
}
.car-contain {
  max-width: 1800px;
  -webkit-box-align: stretch;
  align-items: stretch;
  padding-left: 32px;
  padding-right: 32px;
  background-color: #00619e;
  justify-content: flex-start;
  display: flex;
  height: 100%;
  margin: 0 auto;
}
.car-fixed-title {
  -webkit-box-flex: 1;
  flex: 1 1 30%;
  color: #fff;
  font-weight: 700;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  margin-right: auto;
}
.car-title-left {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.car-title-left p {
  font-size: 24px;
  margin: 0;
  padding: 0;
  line-height: 1;
  text-transform: uppercase;
  -webkit-box-flex: 1;
}
.car-title-left p {
  font-size: 24px;
  margin: 0;
  padding: 0;
  line-height: 1;
  text-transform: uppercase;
  -webkit-box-flex: 1;
}
.car-fixed-price {
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: initial;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0;
}
.car-fixed-price .flex {
  justify-content: center;
  align-items: center !important;
  display: flex !important;
}
.car-flex-col {
  color: #fff;
  line-height: 1;
}
.single-cars .car-details .car-price.fixed-bar {
  min-height: unset;
}
.car-flex-miles {
  margin-left: 0px;
  padding-left: 0px;
  border-left: 0px;
  margin-top: 6px;
  font-size: 15px;
  display: flex;
  justify-content: end;
  margin: 0;
  margin-top: 5px;
}
.price.car-price.fixed-bar .old-price {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  text-decoration: line-through;
}
.price.car-price.fixed-bar .new-price {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  align-items: center;
}
.car-fixed-btn {
  margin-left: 30px;
  align-items: center;
  display: flex;
}
.car-fixed-btn button {
  color: #fff;
  min-height: 46px;
  min-width: 161px;
  font-size: 14px;
  background-color: #2f9e44;
  border: 1px solid transparent;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 700;
}

.animateTopbar {
  transition: all 0.5s ease;
  transform: translateY(-75px);
}
.animateTopbar.active {
  transform: translateY(0);
}

/* -------------------------------------------------------
-                       SECTION A                        -
---------------------------------------------------------- */
.max-container {
  background: #e4ecf0;
}
.vdp-wrap {
  max-width: 1800px;
  margin: 0 auto;
  background: white;
}

.hero-banner-u {
  background-color: #fff;
  padding: 32px;
}
.images {
  /* height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0;
  align-items: start; */
}
/* .b-image1 {
  background-size: contain cover;
  background: url("/images/vdpBackground1.jpg") center center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  height: 100vh;
}
.b-image2 {
  background-size: cover;
  background: url("/images/vdpBackground2.jpg");
  grid-row: 1;
  grid-column: 1;
  height: 100%;
  width: 100%;
}
.b-image3 {
  background-size: cover;
  background: url("/images/vdpBackground3.jpg");
  width: 100%;
  height: 100%;
} */
.certified-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  color: #a5a5a5;
}
.car-title-left .car-title-new {
  font-size: 35px;
  line-height: 42px;
  color: rgb(24 53 88/1);
  font-weight: 700;
  margin-bottom: 0px;
  text-transform: capitalize;
  font-family: Brandon Text, Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.car-main-body {
  justify-content: flex-start;
  display: flex;
}
.car-fixed-title {
  -webkit-box-flex: 1;
  flex: 1 1 30%;
  color: #fff;
  font-weight: 700;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  margin-right: auto;
}
.car-title-left {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.car-title-left .car-title-new {
  font-size: 35px;
  line-height: 42px;
  color: rgb(24 53 88/1);
  font-weight: 700;
  margin-bottom: 0px;
  text-transform: capitalize;
  font-family: Brandon Text, Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.car-term-miles {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  grid-auto-flow: column;
  color: rgb(18 41 70/1);
  column-gap: 8px;
  width: fit-content;
  display: grid;
}

.car-fixed-price {
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: initial;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0;
}
.car-fixed-price .flex {
  justify-content: center;
  align-items: center !important;
  display: flex !important;
}
.car-title-col {
  color: rgb(24 53 88/1);
  line-height: 1;
  font-family: Brandon Text, Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.single-cars .car-details .car-price.hero-bar {
  min-height: unset;
}
.price.car-price.hero-bar .old-price {
  font-weight: 600;
  font-size: 25px;
  text-decoration: line-through;
}
.price.car-price.hero-bar .new-price {
  font-size: 35px;
  font-weight: 700;
}
.car-fixed-btn {
  margin-left: 30px;
  align-items: center;
  display: flex;
}
.car-fixed-btn .view-more-btn {
  color: rgb(0, 174, 217);
  border-style: solid;
  border-width: 1px;
  min-height: 45px;
  padding: 0px 30px;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  margin-right: 10px;
}
.car-fixed-btn button {
  color: #fff;
  min-height: 46px;
  min-width: 161px;
  font-size: 14px;
  background-color: #2f9e44;
  border: 1px solid transparent;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 700;
}
.car-gallery-images {
  padding-left: 32px;
  padding-right: 32px;
  background-color: #fff;
}

.car-gallery-images .single-image {
  width: 100%;
  height: 631px;
  object-fit: contain;
}

.grid-view {
  display: grid !important;
}

.gallery-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
[role='button'] {
  cursor: pointer;
}
.total-car-images-btn {
  bottom: 24px;
  right: 24px;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  font-weight: 400;
  color: #000;
  cursor: pointer;
}
.sc-cbf9113b-5.cjnLvy {
  grid-template: 321px 310px / repeat(3, 1fr);
}
.grid-area {
  grid-template-rows: 290px 290px;
}
.item0 {
  grid-area: main;
}
.item1 {
  grid-area: sideA;
}
.item2 {
  grid-area: sideB;
}
.grid-container-bg {
  background: radial-gradient(black, transparent);
}
.cjnLvy > div:nth-child(1) {
  grid-area: 1 / 1 / 3 / 3;
}
.cjnLvy > div:nth-child(2) {
  grid-area: 1 / 3 / 2 / 4;
}
.cjnLvy > div:nth-child(3) {
  grid-area: 2 / 3 / 3 / 4;
}
@media (max-width: 800px) {
  .car-title-left .car-title-new {
    font-size: 18px;
    line-height: 21px;
  }
  .car-fixed-price.mobo {
    display: block;
  }
  .sc-cbf9113b-5.cjnLvy {
    grid-template: 176px 100px / repeat(3, 1fr);
  }
  .grid-area {
    grid-template-rows: 176px 100px;
  }
  .car-fixed-price {
    justify-content: start;
  }
  .price.car-price.hero-bar .old-price {
    font-size: 15px;
    display: block;
  }
  .price.car-price.hero-bar .new-price {
    font-size: 18px;
  }
  .total-car-images-btn {
    bottom: 7px;
    right: 7px;
    font-size: 13px;
    line-height: 10px;
    padding: 7px 5px;
  }
}
@media (max-width: 428px) {
  .certified-text {
    font-size: 10px;
  }
  .car-title-left .car-title-new {
    font-size: 20px;
    line-height: 25px;
  }

  .sc-cbf9113b-5.cjnLvy {
    grid-template: 90px 80px / repeat(3, 1fr);
  }
  .grid-area {
    grid-template-rows: 90px 80px;
  }
}
@media (max-width: 375px) {
  .sc-cbf9113b-5.cjnLvy {
    grid-template: 77px 80px / repeat(3, 1fr);
  }
  .grid-area {
    grid-template-rows: 77px 80px;
  }
}
@media (max-width: 325px) {
  .sc-cbf9113b-5.cjnLvy {
    grid-template: 64px 80px / repeat(3, 1fr);
  }
  .grid-area {
    grid-template-rows: 64px 80px;
  }
}

@media (max-width: 767px) {
  .hero-banner-u {
    padding: 20px;
  }
  .car-title-left .car-title-new {
    font-size: 18px;
    line-height: 21px;
  }
  .car-term-miles {
    grid-auto-flow: row;
  }
  .price.car-price.hero-bar .old-price {
    font-size: 15px;
  }
  .price.car-price.hero-bar .new-price {
    font-size: 18px;
  }
  .car-gallery-images {
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 30px;
  }
  .car-contain {
    padding-left: 18px;
    padding-right: 18px;
    display: block;
  }
  .car-title-left p {
    font-size: 14px;
    line-height: 40px;
    margin-top: 2px;
  }
  .price.car-price.fixed-bar .old-price {
    font-size: 14px;
  }
  .price.car-price.fixed-bar .new-price {
    font-size: 16px;
  }
}

/* -------------------------------------------------------
-                       SECTION B                      -
---------------------------------------------------------- */

.div-container {
  max-width: 1800px;
  background-color: #fff;
  margin: 0 auto;
}
.overlay1 {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #c23d41;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  opacity: 0.7;
}

.car-item:hover .overlay1 {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.section-b .car-item {
  max-width: 364px;
  min-height: 382px;
  margin: auto;
  background: white;
  border: 1px solid #e3e3e3;
  position: relative;
}
.section-b .car-item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-b .car-item-content {
  padding: 20px;
}

.section-b .car-item-content .car-name {
  color: #db2d2e;
  font-size: 16px;
  font-weight: 600;
  transition: all ease 0.5s;
}

.section-b .car-item-content:hover .car-name {
  color: #3b3636;
}

.section-b .car-item-content .car-price {
  margin-top: 15px;
}

.section-b .car-item-content .old-price {
  font-size: 13px;
  color: #999999;
  text-decoration: line-through;
  margin-right: 5px;
}

.section-b .car-item-content .new-price {
  font-size: 16px;
  font-weight: 700;
  color: #363636;
}

.section-b .car-props {
  font-size: 12px;
  line-height: 16px;
  color: #999999;
  margin-top: 5px;
}

.section-b .car-prop-value {
  color: #363636;
  font-weight: 700;
}

.car-item .label.used {
  background: #ef1313;
}

.car-item .label {
  position: absolute;
  top: 0;
  left: 8px;
  top: 8px;
  background: #62e006;
  font-size: 11px !important;
  color: #fff;
  font-weight: 600;
  padding: 8px 10px;
  z-index: 5;
  text-transform: uppercase;
}
.label {
  color: #fff !important;
  font-size: 9px !important;
}
.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}
.i-car-heading h3 {
  text-align: center;
  font-size: 35px;
  padding: 70px 0;
  padding-bottom: 20px;
  margin-bottom: 0px;
  color: #183558;
  font-weight: 600;
}
.detail {
  color: #323232;
  background: #f5f5f5;
  padding: 6px 12px;
  font-size: 13px;
  margin-bottom: 0;
  min-width: 84px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .hide-in-mobile {
    display: none;
  }
  .i-car-heading h3 {
    font-size: 26px;
  }
}
/* -------------------------------------------------------
-                       SECTION C                      -
---------------------------------------------------------- */

.tab-width {
  max-width: 1200px;
  /* min-height: 420px; */
  margin: 0 auto;
}
.nav-tabs {
  font-size: 16px;
  font-weight: 700;
  color: #363636;
}
#tabs .tab-content .tab-pane,
.cardealer-tabs .tab-content .tab-pane {
  margin-bottom: 20px;
  margin-top: 20px;
}
.tab-content > .active {
  display: block;
}
.section-c .nav-tabs {
  border: 0 !important;
}
.section-c .nav-item {
  margin-right: 3px;
}
.section-c .nav-link {
  border: 0 !important;
  border-bottom: 3px solid transparent !important;
  transition: all 0.5s ease-in-out;
}
.section-c .nav-link:hover {
  border-bottom-color: #db2e2d !important;
}
.section-c .nav-link {
  padding: 10px;
}
.section-c .nav-link.active {
  border: 0 !important;
  border-bottom: 3px solid #db2e2d !important;
}
.car-attributes {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 6px 50px;
  list-style-type: none;
  padding: 15px 20px;
  background: #f2f5fa;
}

.section-c ul[class*='list-'] {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 6px 0;
}

.car-details-tab ul.car-attributes li span {
  color: #000;
  font-weight: 600;
  width: 110px;
  display: table-cell;
}
.car_year {
  width: 29%;
}
.car-year {
  color: #000;
  font-weight: 600;
  width: 110px;
  display: table-cell;
}
ul.car-attributes li strong {
  display: table-cell;
  text-align: left;
  color: #999999;
  font-weight: 500;
}
.fuel-effeincy {
  background-color: #f2f5fa;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 15px;
  padding-right: 15px;
  border-top: 1px solid #c5cdd8;
  border-bottom: 1px solid #c5cdd8;
}
.heading {
  text-align: center;
}
.fuel-efficiency-detail .heading h6 {
  color: #183558;
  font-weight: 600;
  font-size: 22px;
}
.fuel-efficiency-detail label {
  color: #183558;
  margin-bottom: 10px;
  font-weight: 600;
  display: block;
  font-size: 15px;
}
.fuel-efficiency-detail .city_mpg,
.fuel-efficiency-detail .highway_mpg {
  font-size: 30px;
  font-weight: 700;
}
.brder {
  border-right: 1px solid;
}
.city_mpg {
  color: #183558;
}
.fa-gas-pump {
  color: #183558;
}
.highway_mpg {
  color: #183558;
}
.actual {
  color: #183558;
}
.fuel-efficiency2,
.fuel-efficiency2 .heading h6,
.fuel-efficiency2 label,
.fuel-efficiency2 h5 {
  color: #183558;
}
.fuel-efficiency2,
.fuel-efficiency2 .heading h6,
.fuel-efficiency2 label,
.fuel-efficiency2 p {
  color: #183558;
}
.get-report-btn a {
  color: rgb(0, 174, 217);
  border-style: solid;
  border-width: 1px;
  min-height: 45px;
  padding: 10px 30px;
  font-size: 14px;
  text-align: center;

  font-weight: 700;
  text-transform: uppercase;
}
.single ul.list-style-1.list-col-3 {
  padding-left: 130px;
}
.car-details-tab ul[class*='list-'] {
  display: flex !important;
  flex-wrap: wrap;
  grid-gap: 6px 0;
}
ul.list-col-3 li {
  width: 33.33%;
  float: left;
  list-style-type: none;
  line-height: 33px;
}
ul.list-col-2 li i,
ul.list-col-3 li i,
ul.list-col-4 li i {
  color: #db2d2e;
  margin-right: 5px;
}
h1,
h2,
h3,
h4,
h5,
h6,
body,
html {
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-transform: none;
  /* font-size: 14px; */
  /* line-height: 22px; */
  /* letter-spacing: 0px; */
}
.car-details #tab-accordion .panel-heading .panel-title,
.car-details
  .panel-group.vehicle-accordion-wrapper
  .panel-heading
  .panel-title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 25px;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 13px;
}

@media (max-width: 768px) {
  .brder {
    border: 0;
    border-bottom: 1px solid;
  }
}

/* -------------------------------------------------------
-                       SECTION D                     -
---------------------------------------------------------- */

.div-container.vehicles-price-details {
  padding-bottom: 90px;
}
.div-container {
  max-width: 1800px;
  background-color: #fff;
  margin: 0 auto;
}
.vehicles-price-inner {
  max-width: 912px;
  margin: 0 auto;
}

.col-outside {
  display: grid;
  justify-items: center;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
  grid-gap: 16px;
}
.vehicles-price-first,
.vehicles-price-second {
  border-style: solid;
  border-width: 1px;
  border-color: #d9dde9;
  border-radius: 0.375rem;
  flex-direction: column;
  width: 100%;
  display: flex;
  position: relative;
}

.table-outer {
  margin-bottom: 32px;
  margin-left: 48px;
  margin-right: 48px;
  color: #183558;
}
.table-price {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  border-color: #d9dde9;
}
p.table-price-p {
  color: #183558;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
}
.t-body-m {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #183558;
  display: inline-flex;
  margin: 0;
}
ul.price-list-table {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 8px;
  border-color: rgb(217 221 233);
  margin-top: 20px;
  padding-left: 0;
}
li.taxable-list {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
ul.price-list-total {
  margin-top: 16px;
  padding-left: 0;
}
.price-button.price-first-btn {
  margin-top: 32px;
}
.price-button button {
  min-height: 48px;
  width: 100%;
  background-color: #00b3d9;
  color: #fff;
  border: 1px solid;
  font-weight: 700;
  border-radius: 3px;
}
.vehicles-price-first,
.vehicles-price-second {
  border-style: solid;
  border-width: 1px;
  border-color: #d9dde9;
  border-radius: 0.375rem;
  flex-direction: column;
  width: 100%;
  display: flex;
  position: relative;
}
h3.price-detail-heading {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  color: #183558;
  text-align: center;
  border-color: rgb(217 221 233);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0;
}
.table-price {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  border-color: #d9dde9;
}
p.table-price-p {
  color: #183558;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
}
.t-body-m {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #183558;
  display: inline-flex;
  margin: 0;
}

.sighif {
  position: relative;
}
.sighif .fill-current {
  fill: currentColor;
  width: 14px;
  height: 14px;
  margin-left: 5px;
  cursor: pointer;
}
.below-emi-p {
  text-align: center;
  gap: 28px;
  justify-items: center;
  display: grid;
  margin-top: 20px;
}
p.p-details-module {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
  max-width: 270px;
}
p.p-details-module.module-fire {
  display: flex;
  font-size: 14px;
  max-width: unset;
}
.module-fire .mr-8 {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}
.price-button {
  margin-top: 16px;
}
.module-fire .mr-8 g {
  fill: #e03131;
}
:root {
  --bs-accordion-inner-border-radius: calc(
    var(--bs-border-radius) - (var(--bs-border-width))
  );
  --bs-border-radius: 0;
  --bs-border-width: 0;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-primary-text-emphasis: #ac002b;
  --bs-body-color: #999999;
  --bs-accordion-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}
.accordion {
  --bs-accordion-active-bg: var(--bs-primary-bg-subtle);
  --bs-accordion-active-color: var(--bs-primary-text-emphasis);
  --bs-accordion-color: var(--bs-body-color);
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-body-padding-x: 0;
}
.accordion-item {
  border: 0;
  border-bottom: 2px solid;
  border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
}
.accordion-button {
  color: #363636;
  font-weight: 500;
  transition: var(--bs-accordion-transition);
  text-transform: uppercase;
}
.accordion-button :focus,
.accordion-button:hover {
  color: #ac002b;
  text-decoration: none !important;
}
.accordion-button:focus {
  z-index: 3;
  outline: none;
  box-shadow: none;
}
.accordion-button:focus {
  z-index: 3;
  outline: none;
}
.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background: none;

  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
}
.accordion-body {
  padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
}
.accordion-body {
  padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
}

@media (max-width: 767px) {
  .col-outside {
    grid-auto-flow: row;
    padding-left: 18px;
    padding-right: 18px;
  }
  .car-attributes {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 7px 50px;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    align-items: center;
    justify-content: stretch;
  }
  .car-attributes .car_year {
    width: 50%;
  }
  .section-c ul[class*='list-'] {
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    grid-gap: 6px 0;
    padding-left: 15px;
    width: 100%;
  }
  .car-details-tab ul[class*='list-'] {
    display: flex !important;
    flex-wrap: wrap;
    grid-gap: 6px 0;
  }
}

@media (max-width: 479px) {
  .car-attributes .car_year {
    width: 100%;
  }
  ul.list-col-3 li {
    width: auto;
  }
  .section-d .table-outer {
    margin: 20px;
  }
}

/* -------------------------------------------------------
-                       FINANACE MODAL                   -
---------------------------------------------------------- */
.close {
  float: right;
  font-size: 36px;
  line-height: 36px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: white;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #db2e2d;
  text-decoration: none;
}

.modal-header {
  padding: 15px;
  background-color: #323232;
  color: white;
  display: inline;
}

.modal-title {
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

#schedule_form input:not([type='checkbox']) {
  display: inline-block;
  width: 160px;
  height: 26px;
  padding: 8px 4px;
  margin: 8px 4px;
}

#schedule_form input[type='checkbox'] {
  border: 1px solid var(--bs-border-color);
}

#schedule_form textarea {
  padding: 8px 4px;
}

#schedule_form span {
  margin: 8px 4px;
}

.tooltip-custom-content {
  background-color: #000;
  color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 15px 20px;
  font-size: 12px;
}
